@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body{
    background-color: gainsboro;
    color: black;
    font-family: "Prata", serif;
}

.cabecalho{
    background-color: powderblue;
    text-align: center;
}