@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
margin:0;
padding: 0;

}




body{
    background-color: whitesmoke;
    color: rgb(243, 240, 240);
    font-family: "Prata", serif;
}

.cabecalho{
    background-color: rgb(145, 5, 5);
    text-align: center;
    padding:20px ;
}
.imagem-post{
width: 80px;
height: 80px;
}
main{
background-color: rgb(0, 0, 0);
color: rgb(232, 228, 228);
max-width: 800px;
margin: 0 auto;
padding: 16px;
}