@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


body{
    background-color: whitesmoke;
    color: black;
    font-family: "Prata", serif;
}

.cabecalho{
    background-color: rgb(143, 24, 24);
    text-align: center;
}